<h1>Harry this is working</h1>

<span id="vote_count">, <%= answer.vote_total %> votes 
  <a id="<%= @counter %>" class="up" href="update_vote">vote up</a> 
  <a id="<%= @counter %>" class="down" href="update_vote">vote down</a>
</span><br>
