.navbar{
	background-color: black;
	line-height: 40px;
	border-bottom: 5px solid #4602B3;
}

.navbar a{
	display: inline;
	text-decoration: none;
	color: white;
	padding: 50px;
	border-right: 2px solid white;
}

.navbar a:last-child{
	border: none;
	float: right;
	padding: 0px 40px; 
}

#answer {
	visibility: hidden;
}

