.error{
	color: red;
}

.navbar{
	background-color: black;
	line-height: 40px;
	border-bottom: 5px solid #4602B3;
}

.question_show{
/*	margin-left: 37%;
	width: 60%;*/
}

h2.question{
margin-left: 3%;
}

.navbar a{
	display: inline;
	text-decoration: none;
	color: white;
	padding: 50px;
	border-right: 2px solid white;
}

.navbar a:last-child{
	border: none;
	float: right;
	padding: 0px 40px;
}

.answer {
	visibility: hidden;
}

#answerformarea {
/*	margin: 40%;*/
}

.answerformarea {
	visibility: hidden;
}

.answer_form {
	/*text-align: center;*/
}

.bullet {
	list-style: none;
}


.answers {
	font-weight: bold;
	font-style: italic;
}

.login_title {
	color: #2C09B8;
	text-decoration: none;
}

.button {
	margin-top: 10px;
	margin-left: 2%;
/*	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
/*	box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );*/
/*	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');*/
	background-color:#A31903;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:2.58px;
	/*border:3px solid #eeb44f;*/
	display:inline-block;
	color:#ffffff;
	/*font-family:Arial Black;*/
	font-size:16px;
	font-weight:normal;
/*	font-style:italic;*/
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
/*	text-shadow:-3px 4px 4px #cc9f52;*/
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#3E38D1;
}.button:active {
	position:relative;
	top:1px;
}

.login_title {
	color: #2C09B8;
	text-decoration: none;
}


.sign_up_title {
	color: #2C09B8;
}

.sign_up_title {
	color: #2C09B8;
}

html {
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNWNz3M3mQXUZ0ISU_DSBeApIGGFGRHGwJ6GUSTcgEkSXIQByprg');

	background-repeat: no-repeat;
	background-size: 300px;
	background-attachment: fixed;
	background-position: 85%, 0%; 
	position: relative;
	transform: rotate(90deg);
	filter:alpha(opacity=20);
	font-family: 'Lato', sans-serif;
	color: black;
}

