.error{
	color: red;
}

.navbar{
	background-color: black;
	line-height: 40px;
	border-bottom: 5px solid #DC143C;
	font-family: 'Arvo', serif;
}

.footer{
	background-color: black;
	line-height: 40px;
	border-bottom: 5px solid #DC143C;
	font-family: 'Arvo', serif;
}

.question_show{

}

h2.question{

}


form[action="/questions"]{
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	position:relative;
	width:550px;
	height:450px;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color:#DC143C;
	font-size: 20px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form[action="/answers"]{
	background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
	background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
	position:relative;
	width:550px;
	height:100px;
	font-family:'Oxygen', sans-serif;
	font-size: 20px;
	font-style: italic;
	line-height: 24px;
	font-weight: bold;
	color:#DC143C;
	font-size: 20px;
	text-decoration: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:10px;
	margin-top: 10px;
	border: 1px solid #999;
	border: inset 1px solid #333;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input[value="ANSWER"]{

	background-color:#A31903;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	font-family: 'Oxygen', sans-serif;;
	font-weight:normal;
	height:40px;
	line-height:35px;
	width:120px;
	text-decoration:none;
	text-align:center;
	/*	text-shadow:-3px 4px 4px #cc9f52;*/
}

input[value="ANSWER"]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#3E38D1;
}

input[value="Save Question"]{
	margin-left: 2%;
	/*	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*	box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );*/
	/*	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');*/
	background-color:#DC143C;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:2.58px;
	/*border:3px solid #eeb44f;*/
	display:inline-block;
	color:#ffffff;
	font-family:'Oxygen', sans-serif;
	font-size:16px;
	font-weight:normal;
	/*	font-style:italic;*/
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
	/*	text-shadow:-3px 4px 4px #cc9f52;*/

}

input[value="Save Question"]:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#3E38D1;
}

.answers{
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}

.vote_count{
	font-weight: bold;
	color:#DC143C;
}

.navbar a{
	display: inline;
	text-decoration: none;
	color: white;
	padding: 50px;
	border-right: 2px solid white;
}

.navbar a:last-child{
	border: none;
	float: right;
	padding: 0px 40px;
}

.navbar a:hover{
	color:#A31903;
}


.answer {
	visibility: hidden;
}

#answerformarea {
	/*	margin: 40%;*/
}

.answerformarea {
	visibility: hidden;
}

.answer_form {
	/*text-align: center;*/
}

.bullet {
	list-style: none;
}


.answers {
	font-weight: bold;
	font-style: italic;
	font-family: 'Oxygen', sans-serif;
}

.login_title {
	color: #2C09B8;
	text-decoration: none;
}

.button {
	margin-top: 10px;
	margin-left: 2%;
	/*	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*	box-shadow:inset 0px 1px 0px 0px #fce2c1;*/
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );*/
	/*	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');*/
	background-color:#A31903;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:2.58px;
	/*border:3px solid #eeb44f;*/
	display:inline-block;
	color:#ffffff;
	font-family:'Oxygen', sans-serif;
	font-size:16px;
	font-weight:normal;
	/*	font-style:italic;*/
	height:65px;
	line-height:65px;
	width:200px;
	text-decoration:none;
	text-align:center;
	/*	text-shadow:-3px 4px 4px #cc9f52;*/
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#3E38D1;
}

.button:active {
	position:relative;
	top:1px;
}

.login_title {
	color: #2C09B8;
	text-decoration: none;
}

.logo{

font-family: Verdana, sans-serif;
line-height: 1em;
color: #DC143C;
font-style:italic;
font-size: 50px;
text-shadow:0px 0px 0 rgb(137,-1,-23),1px 1px 0 rgb(121,-17,-39),2px 2px 0 rgb(105,-33,-55),3px 3px 0 rgb(89,-49,-71),4px 4px 0 rgb(73,-65,-87),5px 5px 0 rgb(57,-81,-103), 6px 6px 0 rgb(41,-97,-119),7px 7px 6px rgba(0,0,0,0.25),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);

}

.sign_up_title {
	color: #2C09B8;
}

.sign_up_title {
	color: #2C09B8;
}

html {
	background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNWNz3M3mQXUZ0ISU_DSBeApIGGFGRHGwJ6GUSTcgEkSXIQByprg');

	background-repeat: no-repeat;
	background-size: 300px;
	background-attachment: fixed;
	background-position: 85%, 0%;
	position: relative;
	transform: rotate(90deg);
	filter:alpha(opacity=20);
	font-family: 'Lato', sans-serif;
	color: black;
}

