<nav class="navbar">
  <%= link_to "Logout", user_session_path(current_user), :confirm => "ARE YOU SURE!?!?!?!?11111", method: :delete %>
  <%= link_to "Ask", new_question_path, html_options = {:id => "ask_button"} %>
  <%= link_to "Profile", profile_path(current_user) %>
</nav>

<div id="ask_question"></div>

