<nav class="navbar">
  <%= button_to "Logout", user_session_path(@user), :confirm => "ARE YOU SURE!?!?!?!?11111", method: :delete %>
  <%= button_to "Ask", controller: "questions", :action => "new" %>
  <%= button_to "Home", controller: "home", :action => "index" %>
</nav>

