<nav class="navbar">
  <%= link_to "Logout", controller: "users", :action => "delete" %>
  <%= link_to "Ask", controller: "questions", :action => "new" %>
  <%= link_to "Home", controller: "home", :action => "index" %>
</nav>
